.single-item {
  @apply p-4 relative flex-1 h-full cursor-pointer;

  &:after {
    content: '';
    height: 1px;
    @apply absolute bottom-0 inset-x-20 bg-gray-200;
  }

  &:hover {
    .single-item__canvas img {
      transform: scale(0.95);
    }
  }
}

.single-item__canvas {
  @apply flex items-center justify-center px-4;

  img {
    @apply transition duration-700;
    transform: scale(0.85);
  }
}

.single-item__textbox {
  @apply py-2;

  .author {
    @apply pt-3;
  }
}
