@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
p {
  @apply m-0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-white;
}

.heading {
  font-family: 'Playfair Display', serif;
  @apply font-medium text-4xl md:text-5xl lg:text-7xl;
}

.subheading {
  @apply font-thin text-xl md:text-2xl lg:text-3xl;
}

.title {
  font-family: 'Playfair Display', serif;
  @apply text-lg font-medium;
}

.author {
  color: #9e866b;
  @apply font-medium text-sm font-semibold;
}

.box {
  background-color: #9e866b;
  @apply text-white text-sm flex items-center justify-center px-2 rounded-sm;
}

@media (min-width: 640px) {
  .sm\:w-1\/2 {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .lg\:w-1\/4 {
    width: 25%;
  }
}
.flex.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.p-2 {
  padding: 0.5rem;
}

.text-center {
  text-align: center;
}
